<h1 class="welcome-banner">Welcome to MedJournal!</h1>
<img src="http://www.clarkdanger.com/wp-content/uploads/2015/01/journal.jpg" height="300" width="250">
<p><class="banner">Are you a doctor?</h1>
<%= link_to 'Login', '/dlogin' %>
<%= link_to 'Sign up', new_doctor_path %>
<p><class="banner">Are you a patient?</h1>
<%= link_to 'Login', '/plogin' %>
<%= link_to 'Sign up', new_patient_path %>

