<h1>Listing <%= current_doctor.name %>'s Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of entries</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to "#{patient.name}", patient %></td>
        <td><%= patient.journals.size %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>