// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.img_preview {
	text-align: center;
  max-width: 450px;
  max-height: 450px;
  display: block; margin-left: auto; margin-right: auto 
}

p{
	text-align: center;
}
